<p>Temperature: <%= @temp %><br>CPU: Idle: <%= @idle %>% - Load: <%= @load %>%<br><%= @diskspace %><br>Total: <%= @storagespace[0] %> Used: <%= @storagespace[1] %> Left: <%= @storagespace[2] %> - <%= @storagespace[3] %><br>Active downloads: <%= @downloads %></p>
