<p>Current temp: <%= @temp %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last refresh: <%= @time %></p>
<p><%= @diskspace %></p>
<p>Active downloads: <%= @downloads %></p>
<p>CPU: Idle: <%= @idle %>% - Load: <%= @load %>%</p>